body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2E2847;;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #C8C3DA;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.hero {
    text-align: center;
    padding: 50px;
    background-image: url('img/animalia-3208412_1280.jpg');
    background-size: cover;  /* Ajusta la imagen para cubrir todo el área */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
}

.hero h1 {
    font-size: 2.5rem;
    color: #1abc9c;
}

.hero p {
    color: #555;
}

.hero .form {
    margin-top: 20px;
}

.form select, .form button {
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
}

.service {
    width: 250px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
}

.service h3 {
    color: #1abc9c;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    color: #555;
}